[Unit]
Description=Turn down and destroy WifiEduGva connections

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/n4d-client call WifiEduGva.disconnect "['WifiEduGva','%u']"

[Install]
WantedBy=default.target
