Source: n4d-wifiedugva
Section: misc
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7), python3, n4d(>=0.951), python3-networkmanager, n4d-dev
Standards-Version: 3.9.3

Package: n4d-wifiedugva
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, n4d(>=0.951), python3-networkmanager, sssd-dbus
Provides: n4d-escoles-conectades
Replaces: n4d-escoles-conectades
Conflicts: n4d-escoles-conectades
Description: Escoles Connectades N4D helper plugin
 This N4D plugin allows to create a network manager connection compatible with Escoles Concectades WPA. In the future will also allow to connect to other WiFi settings.

